.logo {
    font-size: 100px;
    width: 80%;
    height: 20%;
    margin: 10% 10%;
    margin-bottom: 0;
    text-align: center;
}

.touch {
    font-size: 30px;
    width: 60%;
    height: 20%;
    margin: 5% 20%;
    
    text-align: center;
}

.time {
    position: absolute;
    top: 0;
}

.invisibleBox {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #131313;
    opacity: 0;
    cursor: pointer;
}