{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dash/css/list.css') }}">
<script src="{{url_for('static', filename='dash/js/login.js')}}"></script>
<script src="{{url_for('static', filename='dash/js/logout.js')}}"></script>
<script src="{{url_for('static', filename='dash/js/reload.js')}}"></script>
{% endblock %}

{% block head %}
<title>Dashboard</title>
{% endblock %}

{% block body %}
<meta http-equiv="refresh" content="5" >
<div id='overlaylogin'><h1>Welcome, {{userFirst}}.</h1></div>
<div id='overlaylogout'><h1>Have a nice day, {{userFirst}}.</h1></div>
<p>{{userFirst}} {{userLast}}, {{userEmail}}</p>
<div class="h2left">Your Books</div>
<div class="h2right">History</div>
<div class="tableleft"> 
    <div class="flex-container">
        {%for book in bookData%}

            <div class="flex-item"><div class="left">{{bookData[book][0]}}. {{bookData[book][1]}}, {{bookData[book][2]}}</div><div class="right">Rent Date: {{bookData[book][3]}}, Return Date: {{bookData[book][4]}}</div></div>
            <hr class="lis">
        {%endfor%} 
    </div>
</div>
<div class="tableleft"> 
    <div class="flex-container">
    </div>
</div>
<form action = "/logout" method = "post">
    <p><input type = "submit" name = "logout" value = "Logout"/></p>
</form>
<script>
$(document).ready(function() {
    $('#overlaylogin').fadeIn(0).delay(2000).fadeOut(400)
});
$( "form" ).submit(function() {
    $('#overlaylogout').fadeIn(400).delay(2000);
});
  
// $(document).ready(function() {
//     // place this within dom ready function
//     function reload() {     
//         $( ".flex-container" ).load('.flex-container');
//         setTimeout(function(){ reload(); }, 2000); 
//     }

//     // use setTimeout() to execute
//     setTimeout(reload, 2400);
// });
</script>
{% endblock %}