<!DOCTYdivE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewdivort" content="width=device-width, initial-scale=1.0">
    <meta httdiv-equiv="X-UA-Comdivatible" content="ie=edge">
    <link rel="stylesheet" href="list.css">
    <title>Document</title>
</head>
<body>
    <div class="h1left"><h1>Your Books</h1></div>
    <div class="h1right"><h1>History</h1></div>
    <div class="tableleft"> 
        <div class="flex-container">
                <div class="flex-item"><div class="left">1. Information is Beautiful | ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">2. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">3. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">4. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">5. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
               
        </div>
    </div>
    <div class="tableright"> 
        <div class="flex-container">
                <div class="flex-item"><div class="left">1. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">2. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">3. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">4. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
                <hr class="lis">
                <div class="flex-item"><div class="left">5. Information is Beautiful, ID30</div><div class="right">rent: 31/10/2019, return: 11/11/2019 </div></div>
            
        </div>
    </div>
    <div class="grade"></div>
</body>
</html>