{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/home.css') }}">
{% endblock %}

{% block head %}
<title>Library App</title>
{% endblock %}

{% block body %}
<form action = "/" method = "post">
    <button class="invisibleBox" type = "submit" name = "start" value = ""></button>
</form>

<h1 class="logo">CODE library</h1>
<h2 class="touch">Touch screen to start</h2>
<p class="time" id="time"></p>

<script>
  $(document).ready(function(){
  function updateTime() {
  var currtime = new Date();
  var hours = ('0'+currtime.getHours()).slice(-2);
  var mins = ('0'+currtime.getMinutes()).slice(-2);
  var seconds = ('0'+currtime.getSeconds()).slice(-2);
  var currtimeformatted = (hours + ":"+ mins + ":" + seconds);
  $('#time').html(currtimeformatted);     
  }
  setInterval(updateTime, 1000); // 1000 miliseconds 
  });
</script>
{% endblock %}