{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='home/css/home.css') }}">
{% endblock %}

{% block head %}
<title>Library App</title>
{% endblock %}

{% block body %}

<!-- !!! Implement Logo -->
<h1 class="logo">CODE library</h1>

<!-- !!! Implement Instruction design -->
<h2 class="touch">Scan your Factory Card</h2>

<!-- displays time -->
<p class="time" id="time"></p>

<!-- displays scanner status (could be changed in the future -> designwise) -->
<div id="alert"></div>

<!-- Get current time script -->
<script>
  $(document).ready(function(){
  function updateTime() {
  var currtime = new Date();
  var hours = ('0'+currtime.getHours()).slice(-2);
  var mins = ('0'+currtime.getMinutes()).slice(-2);
  var seconds = ('0'+currtime.getSeconds()).slice(-2);
  var currtimeformatted = (hours + ":"+ mins + ":" + seconds);
  $('#time').html(currtimeformatted);     
  }
  setInterval(updateTime, 1000); // 1000 miliseconds 
  });
</script>


<!-- 
    Script to get the UID (from scanner) and check it (database) 
    It's doing get requests to '/getid' and '/checkData' 
        -> routes can be found in 'app/id_handler/views.py'
-->

<script>
  const sleep = (milliseconds) => {
    return new Promise(resolve => setTimeout(resolve, milliseconds))
  }

  var alertError = '<div class="box box-scanner-failed"><strong>Failed!</strong> The scanning failed! Please report it to the Team.</div>'
  var alertDatabase = '<div class="box box-scanner-database"><strong>Warning!</strong> The ID is not connected to a user!</div>'
  var alertSuccess = '<div class="box box-scanner-success"><strong>Success!</strong> Your Card was recognized. Hang on a second.</div>'
  var alertInfo =  '<div class="box box-scanner-info"><strong>Ready!</strong> The Scanner is ready for scanning a Card.</div>'
  var alertDiv = document.getElementById("alert");

  function loadScanner() {
      alertDiv.innerHTML = alertInfo + alertDiv.innerHTML;

      var xhttp = new XMLHttpRequest();

      xhttp.addEventListener("abort", transferCanceled);

      xhttp.open("GET", "/getid", true);

      xhttp.responseType = 'json';

      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var responseObj = xhttp.response;

              if (responseObj.code == '0x01') {
                  // direct check
                  alertDiv.innerHTML = alertSuccess;
                  loadCheck()
              }
              if (responseObj.code == '0x00') {
                  // alert scanner error
                  alert("Something went wrong with the scanner! Try again...")
                  // Should report it to library team
                  loadScanner()
              }
              // if (responseObj.code == '0x2') {
              //     alert("Timeout...")
              //     abortFunction()
              // }

          }
      };
      function transferCanceled(evt) {
          alert("The transfer has been canceled by the user.");
      }
      xhttp.send();

      function abortFunction() {
          xhttp.abort()
      }
      
  }
  function loadCheck() {
      var xhttp = new XMLHttpRequest();

      xhttp.addEventListener("abort", transferCanceled);

      xhttp.open("GET", "/checkData", true);

      xhttp.responseType = 'json';

      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
              var responseObj = xhttp.response;
              if (responseObj.code == '0x01') {
                  var userId = responseObj.userId
                  window.location = ("/login/" + userId.toString());  
              }
              if (responseObj.code == '0x02') {
                  // alert Book is already connected with this ID
                  // alert("The scanned ID is already connected to a book!")
                  alertDiv.innerHTML = alertDatabase;
                  loadScanner();        
              }
              if (responseObj.code == '0x03') {
                  // alert ID is not connected with a User
                  window.location = "/signup/form";
              }
              if (responseObj.code == '0x00') {
                  alert("Something crucial went wrong! Please find help at the Library Team");
                  loadScanner();
              }
          }
      };
      // xhttp.onload = function() {

      // };
      function transferCanceled(evt) {
          alert("The transfer has been canceled by the user.");
      }
      xhttp.send();

      function abortFunction() {
          xhttp.abort()
      }
  }
  loadScanner()
</script>

{% endblock %}