@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

:root {
    --main-bg-color: #131313;
    --main-font-color : #ffffff;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: var(--main-font-color);
    background-color: var(--main-bg-color);
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right: 5%;
    padding-top: 1%;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

p {
    font-size: 24px;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

input[type=submit] {
    width: 100%;
    font-size: 32px;
    background-color: var(--main-font-color);
    color: var(--main-bg-color);
    padding: 5px 5px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #dfdfdf;
}

input[name = back] {
    position: absolute;
    bottom: 10%;
    left: 5%;
    width: 10%;
    background-color: #ffffff;
}

input[name = back] :hover {
    background-color: #dfdfdf;
}

input[name = next] {
    position: absolute;
    bottom: 10%;
    right: 5%;
    width: 10%;
    background-color: var(--main-font-color);
}

input[name = next]:hover {
    background-color: #dfdfdf;
}


.box{
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.box.box-scanner-info {
   background-color:#31708f;
   border-color:#bce8f1;
}
.box.box-scanner-success {
   background-color: #3c763d;
   border-color: #d6e9c6;
}
.box.box-scanner-failed {
   background-color: #a94442;
   border-color: #ebccd1;
}

.box.box-scanner-database {
    background-color: #683f11;
    border-color: #ebdacc;
 }