{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup/css/center-div.css') }}">
{% endblock %}

{% block head %}
<title>Signup Done.</title>
{% endblock %}

{% block body %}
<div>
  <h2>Well Done, {{userFirst}}.</h2>
  <p>The card is connected to your account.</p>
</div>


<!-- 
    After the UID is connected to the user account,
    it will wait for 5 seconds and then forward to '/'.
      -> Should be '/dash' (not implemented, yet)
-->
<script>
const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}
setTimeout(function(){ window.location = "/"; }, 5000);
</script>
{% endblock %}