{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='signup/css/email.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
{% endblock %}

{% block head %}
<title>Form</title>
{% endblock %}

{% block body %}
<h1>Card recognized!</h1>
<p>Now, that the system recognized your card, I need your name. </p>
<div id = "keyuptrigger" class = "emailform">
    <form action = "/signup/email-send" method = "post" autocomplete="off">
        <p><input type = "text" name = "first" placeholder = "First Name"/></p>
        <p><input type = "text" name = "last" placeholder = "Last Name"/></p>
        <p id="email" class="{{err}}">{{ email }}</p>
        <p><input type = "submit" value = "submit" /></p>
    </form>
</div>

<script>
$("#keyuptrigger").keyup(function() {
    var first = $('[name=first]').val().toLowerCase();  
    var last = $('[name=last]').val().toLowerCase();
    $('#email').removeClass("err1")
    $('#email').html(first + "." + last + "@code.berlin"); 
})
</script>
{% endblock %}