{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Scan Card</title>
{% endblock %}

{% block body %}
<h2>Scan your Card</h2>
<p></p>
<p>The system will give you feedback.</p>

<div id="alert">
</div>

<form action = "/scan/login" method = "post">
    <p id="back"><input onclick="abortFunction()" type = "submit" name = "back" value = "Back"/></p>
</form>

<script>
const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}

var alertError = '<div class="box box-scanner-failed"><strong>Failed!</strong> The scanning failed! Please report it to the Team.</div>'
var alertDatabase = '<div class="box box-scanner-database"><strong>Warning!</strong> The ID is not connected to a user!</div>'
var alertSuccess = '<div class="box box-scanner-success"><strong>Success!</strong> Your Card was recognized. Hang on a second.</div>'
var alertInfo =  '<div class="box box-scanner-info"><strong>Ready!</strong> The Scanner is ready for scanning a Card.</div>'
var alertDiv = document.getElementById("alert");

function loadScanner() {
    alertDiv.innerHTML = alertInfo + alertDiv.innerHTML;
    document.getElementById("back").innerHTML = '<input onclick="abortFunction()" type = "submit" name = "back" value = "Back"/>';

    var xhttp = new XMLHttpRequest();

    xhttp.addEventListener("abort", transferCanceled);

    xhttp.open("GET", "/getid", true);

    xhttp.responseType = 'json';

    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var responseObj = xhttp.response;
        
            document.getElementById("back").innerHTML = '<input onclick="abortFunction()" type = "submit" name = "back" value = "Back" disabled />';

            if (responseObj.code == '0x1') {
                // direct check
                alertDiv.innerHTML = alertSuccess;
                loadCheck()
            }
            if (responseObj.code == '0x0') {
                // alert scanner error
                alert("Something went wrong with the scanner! Try again...")
                // Should report it to library team
                loadScanner()
            }
            // if (responseObj.code == '0x2') {
            //     alert("Timeout...")
            //     abortFunction()
            // }

        }
    };
    function transferCanceled(evt) {
        alert("The transfer has been canceled by the user.");
    }
    xhttp.send();

    function abortFunction() {
        xhttp.abort()
    }
    
}
function loadCheck() {
    var xhttp = new XMLHttpRequest();

    xhttp.addEventListener("abort", transferCanceled);

    xhttp.open("GET", "/checkData", true);

    xhttp.responseType = 'json';

    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var responseObj = xhttp.response;
            if (responseObj.code == '1x0') {
                var userId = responseObj.userId
                window.location = ("/login/" + userId.toString());  
            }
            if (responseObj.code == '1x1') {
                // alert Book is already connected with this ID
                // alert("The scanned ID is already connected to a book!")
                alertDiv.innerHTML = alertDatabase;
                setTimeout(function(){ loadScanner(); }, 6000);              
            }
            if (responseObj.code == '1x2') {
                // alert ID is not connected with a User
                alertDiv.innerHTML = alertDatabase;
                setTimeout(function(){ loadScanner(); }, 6000); 
            }
            if (responseObj.code == '1x3') {
                alert("There is no ID found...Something crucial went wrong! Please find help at the Library Team")
                window.location = "/";
            }
        }
    };
    // xhttp.onload = function() {

    // };
    function transferCanceled(evt) {
        alert("The transfer has been canceled by the user.");
    }
    xhttp.send();

    function abortFunction() {
        xhttp.abort()
    }
}
loadScanner()
</script>
{% endblock %}