{% extends 'base.html' %}

{% block css %}
{% endblock %}

{% block head %}
<title>Scan Card</title>
{% endblock %}

{% block body %}
<h2>Scan a Card</h2>
<p>Scan your choosen Card.</p>
<p></p>
<p>The system will give you feedback if the card is working.</p>

<div id="box">
</div>

<form action = "/scan/signup" method = "post">
    <p id="back"><input onclick="abortFunction()" type = "submit" name = "back" value = "Back"/></p>
</form>

<script>
const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
}

var alertError = '<strong>Failed!</strong> The scanning failed! Please report it to the Team.'
var alertDatabase = '<strong>Warning!</strong> The ID is already connected to a user or a book!'
var alertSuccess = '<strong>Success!</strong> Your Card was recognized. Hang on second.'
var alertInfo =  '<strong>Ready!</strong> The Scanner is ready for scanning a Card.'

function loadScanner() {
    document.getElementById("box").className = "box box-scanner-info";
    document.getElementById("box").innerHTML = alertInfo;
    document.getElementById("back").innerHTML = '<input onclick="abortFunction()" type = "submit" name = "back" value = "Back"/>';

    var xhttp = new XMLHttpRequest();

    xhttp.addEventListener("abort", transferCanceled);

    xhttp.open("GET", "/getid", true);

    xhttp.responseType = 'json';

    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var responseObj = xhttp.response;
        
            document.getElementById("back").innerHTML = '<input onclick="abortFunction()" type = "submit" name = "back" value = "Back" disabled />';

            if (responseObj.code == '0x1') {
                // alert scan succesfull

                document.getElementById("box").className = 'box box-scanner-success';
                document.getElementById("box").innerHTML = alertSuccess
                setTimeout(function(){ loadCheck(); }, 1000);   
                
            }
            if (responseObj.code == '0x0') {
                // alert scanner error
                alert("Something went wrong with the scanner! Try again...")
                // Should report it to library team
                loadScanner()
            }
            // if (responseObj.code == '0x2') {
            //     alert("Timeout...")
            //     abortFunction()
            // }

        }
    };
    function transferCanceled(evt) {
        alert("The transfer has been canceled by the user.");
    }
    xhttp.send();

    function abortFunction() {
        xhttp.abort()
    }
    
}
function loadCheck() {
    var xhttp = new XMLHttpRequest();

    xhttp.addEventListener("abort", transferCanceled);

    xhttp.open("GET", "/checkData", true);

    xhttp.responseType = 'json';

    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            var responseObj = xhttp.response;
            if (responseObj.code == '1x0') {
                // alert User is already connected with this ID
                // alert("The scanned ID is already connected to a user!")
                document.getElementById("box").className = 'box box-scanner-database';
                document.getElementById("box").innerHTML = alertDatabase
                setTimeout(function(){ loadScanner(); }, 3000);   
            }
            if (responseObj.code == '1x1') {
                // alert Book is already connected with this ID
                // alert("The scanned ID is already connected to a book!")
                document.getElementById("box").className = 'box box-scanner-database';
                document.getElementById("box").innerHTML = alertDatabase

                setTimeout(function(){ loadScanner(); }, 3000);              
            }
            if (responseObj.code == '1x2') {
                window.location = "/signup/form";
            }
            if (responseObj.code == '1x3') {
                alert("There is no ID found...Something crucial went wrong! Please find help at the Library Team")
                window.location = "/";
            }
        }
    };
    // xhttp.onload = function() {

    // };
    function transferCanceled(evt) {
        alert("The transfer has been canceled by the user.");
    }
    xhttp.send();

    function abortFunction() {
        xhttp.abort()
    }
}
loadScanner()
</script>
{% endblock %}